<div class="page-wrapper">
    <div class="fight-cards-wrapper">
        <div>
            <p class="fight-eta-label">(ETA)</p>
        </div>
        <div class="fight-card-item" *ngFor="let fight of eventDetail?.fightCards; let i=index"
             (mouseover)="doSelectSingleCard(i)"
             (mouseout)="singleCardSelected == null"
             [ngClass]="{'fight-selected' : singleCardSelected == i}">
            <h2 class="fight-time">
                {{fight.fightTime}}
            </h2>
            <div class="item-stepper">
                <div class="item-icon"></div>
                <div class="item-line"></div>
            </div>
            <div class="fight-card-content">
                <div class="fight-item-details">
                    <div class="fight-item-details-container">
                        <h3 class="fighter-first-name">{{fight.firstFighterFirstName}}</h3>
                        <h1 class="fighter-last-name">{{fight.firstFighterSurname}}</h1>
                    </div>
                    <div class="fight-item-vs-container">
                        <p class="vs">VS</p>
                    </div>
                    <div class="fight-item-details-container">
                        <h3 class="fighter-first-name">{{fight.secondFighterFirstName}}</h3>
                        <h1 class="fighter-last-name">{{fight.secondFighterSurname}}</h1>
                    </div>
                </div>
                <div class="fight-information">
                    <p *ngIf="singleCardSelected == i">{{fight.fightType }}</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div *ngFor="let fight of eventDetail?.fightCards; let i=index">
            <img class="fight-image" src="{{fight.fightImage}}" alt="fight-image"
                 *ngIf="singleCardSelected == i">
        </div>
    </div>
</div>
