.page-wrapper {
  display: grid;
  grid-template-columns: 50fr 50fr;

  .fight-eta-label {
    margin: 0 0 -38px 18px;
  }

  .fight-cards-wrapper {
    margin-top: 75px;
  }

  .fight-card-item {
    padding: 10px;
    display: flex;
    flex-direction: row;
    height: 90px;
    align-items: center;
    cursor: pointer;

    .item-icon {
      background-color: #D43B38;
      border-radius: 100%;
      width: 11px;
      height: 11px;
      display: inline-block;
    }

    .item-line {
      top: 10px;
      left: 5px;
      position: absolute;
      border-left: 1px solid #D43B38;
      height: 110px;

    }

    .item-stepper {
      position: relative;
    }

    &:last-child .item-line {
      border-left: none;
      z-index: -1;
    }

    &:last-child .item-icon {
      border-left: none;
      background-color: #D2B085;
      z-index: -1;
    }

    .fight-item-details {
      display: flex;
      flex-direction: row;
      align-items: center;

      .fight-item-details-container {
        flex: 1 1 auto;
        flex-grow: 1;
        text-align: center;
        align-items: center;
        flex-basis: 0;
      }

      .fight-item-vs-container {
        flex: 0 1 auto
      }
    }

    .fight-card-content {
      margin-left: 20px;
      flex-grow: 1;
    }

    .fight-time {
      margin-right: 30px;
      opacity: 0.6;
    }

    .vs {
      color: #D2B085;
    }

    .fighter-first-name {
      text-align: center;
      color: #D2B085;
    }

    .fighter-last-name {
      text-align: center;
      letter-spacing: 0.02em;
      opacity: 0.6;
    }

  }

  .fight-information {
    p {
      text-align: center;
      text-transform: uppercase;
      justify-content: center;
      margin: 0;
      color: #D2B085;
      line-height: 20px;
      font-weight: 300;
    }

    height: 10px;
  }

  .fight-selected {
    .fight-time {
      opacity: 1;
    }

    .fighter-last-name {
      font-size: 35px;
      opacity: 1;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    .item-icon {
      box-shadow: 0 0 0 5px rgb(212 59 56 / 0.2);
    }

    &:last-child .item-icon {
      box-shadow: 0 0 0 5px rgb(210 176 133 / 0.2);
    }
  }

  .fight-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;
    -o-animation: fadein 1s;
  }
}

@media screen and (min-width: 1000px) {
  .fight-card-item {
    .fight-time {
      margin-right: 50px;
      opacity: 0.6;
    }
  }
}

