.container {
  padding: 20px 20px;
}

.title {
  color: #0B0C08;
  margin-bottom: 5px;

  .red_border {
    -webkit-text-stroke: 2px red;
  }

  .white {
    -webkit-text-stroke: 2px white;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 10px 10px;
  }
  .desktop {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .mobile {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    padding: 20px 120px;
  }
}

@media only screen and (min-width: 1536px) {
  .container {
    padding: 20px 200px;
  }
}
