<div class="container">
    <div>
        <div class="title">
            <span class="red_border">FIGHT</span>
            <span class="white">CARD</span>
        </div>
        <div class="subtitle">{{eventDetail?.eventTime}} <br>{{eventDetail?.eventLocation}}</div>
    </div>
    <div>
        <!--Desktop Component --->
        <app-fight-card-desktop [eventDetail]="eventDetail!" class="desktop"></app-fight-card-desktop>
        <!--Tablet / Mobile Component --->
        <app-fight-card-mobile [eventDetail]="eventDetail!" class="mobile"></app-fight-card-mobile>
    </div>
</div>


