.mobile-page-wrapper {
  .fight-eta-label {
    margin-top: 40px;
    margin-bottom: -30px;
  }

  .mobile-fight-card {
    margin-top: 50px;
    display: flex;
    flex-direction: row;

    .fight-card-item {
      text-align: center;
      flex: 1 1 auto;
      flex-grow: 1;
      flex-basis: 0;
      cursor: pointer;

      .item-icon {
        background-color: #D43B38;
        border-radius: 100%;
        width: 9px;
        height: 9px;
        display: inline-block;
      }

      .item-line {
        height: 1px;
        background: #D43B38;
        margin-top: -9px;
        width: 100%;
      }

      &:first-child {
        flex: .5 1 0;
        text-align: left;
      }

      &:last-child {
        flex: .5 1 0;
        text-align: right;
      }

      &:last-child .item-icon {
        border-left: none;
        background-color: #D2B085;
        z-index: -1;
      }

      .fight-time {
        opacity: 0.6;
        margin-bottom: 20px;
      }
    }

    .fight-selected {
      .fight-time {
        opacity: 1;
      }

      .item-icon {
        box-shadow: 0 0 0 5px rgb(212 59 56 / 0.2);
      }

      &:last-child .item-icon {
        box-shadow: 0 0 0 5px rgb(210 176 133 / 0.2);
      }
    }
  }

  .fight-information {
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    margin-top: 30px;
    color: #D2B085;
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;
    -o-animation: fadein 1s;
  }

  .fight-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;
    -o-animation: fadein 1s;
  }
}


@media only screen and (max-width: 600px) {
  .fight-image {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .fight-image {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  .fight-image {
    width: 60%;
  }
}

@media only screen and (min-width: 992px) {
  .fight-image {
    width: 60%;
  }
}
