<div class="mobile-page-wrapper">
    <p class="fight-eta-label">(ETA)</p>
    <div class="mobile-fight-card">
        <div class="fight-card-item" *ngFor="let fight of eventDetail?.fightCards; let i=index"
             (click)="doSelectSingleCard(i)"
             [ngClass]="{'fight-selected' : singleCardSelected == i}">
            <div>
                <h2 class="fight-time">{{fight.fightTime}}</h2>
                <div class="item-icon"></div>
                <div class="item-line "></div>
            </div>
        </div>
    </div>
    <div *ngFor="let fight of eventDetail?.fightCards; let i=index" (swipeleft)="swipeLeft(i)"
         (swiperight)="swipeRight(i)">
        <div *ngIf="singleCardSelected == i">
            <p class="fight-information">{{fight.fightType}}</p>
            <img src="{{fight.fightImage}}" class="fight-image">
        </div>
    </div>
</div>