@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
/* Typography */
body {
  background-color: #0B0C08;
  color: #fff;
}

.title {
  font-family: nimbus-sans-extended, serif;
  font-size: 103px;
  margin: 0;
}

.subtitle {
  font-family: nimbus-sans-extended, serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  margin: 0;
}

h1 {
  font-family: nimbus-sans-condensed, serif;
  font-weight: 900;
  font-size: 30px;
  margin: 0;
}

h2 {
  font-family: nimbus-sans-condensed, serif;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

h3 {
  font-family: nimbus-sans-condensed, serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 5px;
  margin: 0;
}

p {
  font-family: 'Montserrat', serif;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .title {
    font-size: 51px;
  }
  .subtitle {
    font-size: 15px;
  }
  p {
    font-size: 13px;
  }
  h2 {
    font-size: 23px;
  }
}

/* Animations */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein { /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein { /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
